@charset "UTF-8";
.row {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.col {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  box-sizing: border-box;
}

.col--stretch {
  align-self: stretch;
}

.col--undefined {
  width: unset;
}

.col--between {
  justify-content: space-between;
}

@media screen and (min-width: 320px) {
  .col--sd-1 {
    width: 8.33333%;
  }
  .col--sd-2 {
    width: 16.66667%;
  }
  .col--sd-3 {
    width: 25%;
  }
  .col--sd-4 {
    width: 33.33333%;
  }
  .col--sd-5 {
    width: 41.66667%;
  }
  .col--sd-6 {
    width: 50%;
  }
  .col--sd-7 {
    width: 58.33333%;
  }
  .col--sd-8 {
    width: 66.66667%;
  }
  .col--sd-9 {
    width: 75%;
  }
  .col--sd-10 {
    width: 83.33333%;
  }
  .col--sd-11 {
    width: 91.66667%;
  }
  .col--sd-12 {
    width: 100%;
  }
}

@media screen and (min-width: 480px) {
  .col--pn-1 {
    width: 8.33333%;
  }
  .col--pn-2 {
    width: 16.66667%;
  }
  .col--pn-3 {
    width: 25%;
  }
  .col--pn-4 {
    width: 33.33333%;
  }
  .col--pn-5 {
    width: 41.66667%;
  }
  .col--pn-6 {
    width: 50%;
  }
  .col--pn-7 {
    width: 58.33333%;
  }
  .col--pn-8 {
    width: 66.66667%;
  }
  .col--pn-9 {
    width: 75%;
  }
  .col--pn-10 {
    width: 83.33333%;
  }
  .col--pn-11 {
    width: 91.66667%;
  }
  .col--pn-12 {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .col--tb-1 {
    width: 8.33333%;
  }
  .col--tb-2 {
    width: 16.66667%;
  }
  .col--tb-3 {
    width: 25%;
  }
  .col--tb-4 {
    width: 33.33333%;
  }
  .col--tb-5 {
    width: 41.66667%;
  }
  .col--tb-6 {
    width: 50%;
  }
  .col--tb-7 {
    width: 58.33333%;
  }
  .col--tb-8 {
    width: 66.66667%;
  }
  .col--tb-9 {
    width: 75%;
  }
  .col--tb-10 {
    width: 83.33333%;
  }
  .col--tb-11 {
    width: 91.66667%;
  }
  .col--tb-12 {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .col--md-1 {
    width: 8.33333%;
  }
  .col--md-2 {
    width: 16.66667%;
  }
  .col--md-3 {
    width: 25%;
  }
  .col--md-4 {
    width: 33.33333%;
  }
  .col--md-5 {
    width: 41.66667%;
  }
  .col--md-6 {
    width: 50%;
  }
  .col--md-7 {
    width: 58.33333%;
  }
  .col--md-8 {
    width: 66.66667%;
  }
  .col--md-9 {
    width: 75%;
  }
  .col--md-10 {
    width: 83.33333%;
  }
  .col--md-11 {
    width: 91.66667%;
  }
  .col--md-12 {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .col--ld-1 {
    width: 8.33333%;
  }
  .col--ld-2 {
    width: 16.66667%;
  }
  .col--ld-3 {
    width: 25%;
  }
  .col--ld-4 {
    width: 33.33333%;
  }
  .col--ld-5 {
    width: 41.66667%;
  }
  .col--ld-6 {
    width: 50%;
  }
  .col--ld-7 {
    width: 58.33333%;
  }
  .col--ld-8 {
    width: 66.66667%;
  }
  .col--ld-9 {
    width: 75%;
  }
  .col--ld-10 {
    width: 83.33333%;
  }
  .col--ld-11 {
    width: 91.66667%;
  }
  .col--ld-12 {
    width: 100%;
  }
}

body {
  margin: 0;
}

div {
  box-sizing: border-box;
}

/*Medias*/
.button {
  display: flex;
  align-items: center;
  height: 36px;
  font-size: 14px;
  font-family: "Montserrat", Arial;
  padding: 4px 8px;
  border-radius: 3px;
  border: 0;
  margin: 0;
  justify-content: center;
  cursor: pointer;
}

.button span {
  flex-grow: 1;
}

.button.is-disabled {
  background-color: #C8D0E3;
  color: #818181;
  border: none;
  cursor: no-drop;
  transition: background-color, color, 0.2s linear;
}

.button.is-disabled svg {
  fill: #818181;
  transition: fill, 0.2s linear;
}

.button.is-disabled:focus {
  border: 0;
  box-shadow: none;
}

.button.is-disabled:hover {
  background-color: #C8D0E3;
}

.button.is-loading {
  cursor: no-drop;
  transition: background-color, 0.2s linear;
}

.button.is-loading:focus {
  border: 0;
  box-shadow: none;
}

.button--primary {
  background-color: #F3B313;
  color: #0A2466;
  font-weight: 600;
}

.button--primary svg {
  fill: #030b20;
}

.button--primary:focus {
  outline: none;
  border: 1px solid #fff;
  box-shadow: 0 0 0 2px #030b20;
}

.button--primary:hover {
  background-color: #b18109;
  transition: background-color 0.2s linear;
}

.button--secondary {
  background-color: #fff;
  color: #0A2466;
  font-weight: 500;
  border: 1px solid #0A2466;
}

.button--secondary svg {
  fill: #0A2466;
}

.button--secondary:focus {
  outline: none;
  border: 1px solid #fff;
  box-shadow: 0 0 0 2px #0A2466;
}

.button--secondary:hover {
  background-color: #376aeb;
  transition: background-color 0.2s linear;
}

.button--tertiary {
  background-color: #0A2466;
  color: #fff;
  font-weight: 600;
  min-width: 100px;
}

.button--tertiary svg {
  fill: #fff;
}

.button--tertiary:focus {
  outline: none;
  border: 1px solid #fff;
  box-shadow: 0 0 0 2px #0A2466;
}

.button--tertiary:hover {
  background-color: #010309;
  transition: background-color 0.2s linear;
}

.button--tertiary .is-loading {
  background-color: #0f3494;
}

.button--tertiary .is-loading:hover {
  background-color: #0f3494;
}

.button--full {
  width: 100%;
}

.button--icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0;
  color: #4e4e4e;
  cursor: pointer;
  background-color: unset;
  height: unset;
}

.button--icon svg {
  vertical-align: middle;
  pointer-events: none;
}

.button--icon:hover svg {
  fill: #F3B313;
}

.button--icon.is-disabled {
  opacity: 0.5;
  border: none;
  cursor: no-drop;
  pointer-events: none;
  transition: background-color, color, 0.2s linear;
}

.button--icon.is-disabled svg {
  transition: fill, 0.2s linear;
}

.button--icon.is-disabled:focus {
  border: 0;
  box-shadow: none;
}

.button--icon.is-disabled:hover {
  opacity: 0.2;
}

.button--form {
  margin-bottom: 18px;
}

.button-text {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: "Montserrat", Arial;
  border-radius: 3px;
  padding: 0;
  border: 0;
  margin: 0;
  justify-content: center;
  cursor: pointer;
  font-weight: 500;
}

.button-text span {
  flex-grow: 1;
}

.button-text:focus {
  outline: none;
  border: 0;
}

.button-text.is-disabled {
  color: #afafaf;
  cursor: no-drop;
  transition: background-color, color, 0.2s linear;
}

.button-text.is-disabled svg {
  fill: #b4b4b4;
}

.button-text.is-disabled:hover {
  color: #b4b4b4;
}

.button-text--primary {
  background-color: transparent;
  color: #0A2466;
}

.button-text--primary svg {
  fill: #0A2466;
  opacity: 0.7;
}

.button-text--primary:hover {
  background-color: transparent;
  transition: background-color 0.2s linear;
  color: black;
}

.button-text--primary:hover svg {
  fill: black;
}

.button-text--secondary {
  background-color: transparent;
  color: #0A2466;
  border: none;
}

.button-text--secondary svg {
  fill: #0A2466;
  opacity: 0.7;
}

.button-text--secondary:hover {
  transition: background-color 0.2s linear;
}

.button-text--inverted {
  background-color: transparent;
  color: #fff;
}

.button-text--inverted svg {
  fill: #fff;
}

.button-text--inverted:hover {
  background-color: transparent;
  transition: background-color 0.2s linear;
}

.button-text--extra-small {
  font-size: 10px;
}

.button-text--small {
  font-size: 12px;
}

.button-text--medium {
  font-size: 14px;
}

.button-text--large {
  font-size: 18px;
}

.button-text--extra-large {
  font-size: 22px;
}

.input {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}

.input.has-error .input__display {
  background-color: #DA4453;
  color: #fff;
  transition: background-color, 0.2s linear;
}

.input.has-error .input__display svg {
  fill: #fff;
  transition: fill, 0.2s linear;
}

.input.has-error .input__item {
  border: 2px solid #DA4453;
  transition: border, 0.2s linear;
}

.input.has-error svg {
  fill: #DA4453;
  transition: fill, 0.2s linear;
}

.input.has-error .input__textarea {
  border: 2px solid #DA4453;
}

.input.has-error .pill__item svg {
  fill: #0A2466;
}

.input.has-error .pill {
  border-left: 2px solid #DA4453;
  border-right: 2px solid #DA4453;
  border-bottom: 2px solid #DA4453;
}

.input.has-success .input__display {
  background-color: #8CC152;
  color: #fff;
  transition: background-color, 0.2s linear;
}

.input.has-success .input__display svg {
  fill: #fff;
  transition: fill, 0.2s linear;
}

.input.has-success .input__item {
  border: 2px solid #8CC152;
  transition: border, 0.2s linear;
}

.input.has-success svg {
  fill: #8CC152;
  transition: fill, 0.2s linear;
}

.input__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 25px;
  height: 100%;
  font-family: "Montserrat", Arial;
  font-weight: 500;
  font-size: 12px;
  fill: #acb4b9;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  padding: 0 4px;
}

.input__display {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #f4f5f6;
  top: 0;
  width: 26px;
  height: 32px;
  padding: 0 4px;
  margin: 2px;
  font-family: "Montserrat", Arial;
  font-weight: 500;
  font-size: 12px;
}

.input__display--right {
  right: 0;
  border-radius: 0 1px 1px 0;
}

.input__display--left {
  left: 0;
  border-radius: 1px 0 0 1px;
}

.input__info {
  position: relative;
  width: 100%;
  display: flex;
}

.input__info--right .input__item {
  padding-right: 38px;
  padding-left: 4px;
}

.input__info--left .input__item {
  padding-left: 38px;
}

.input__info--both .input__item {
  padding: 0 38px;
}

.input__textarea {
  width: 100%;
  border-radius: 3px;
  border: 2px solid #DEE1E3;
  padding: 4px;
  font-family: "Montserrat", Arial;
  font-size: 12px;
  box-sizing: border-box;
}

.input__textarea::-webkit-input-placeholder {
  color: #e6e9ea;
}

.input__textarea:-moz-placeholder {
  color: #e6e9ea;
}

.input__textarea::-moz-placeholder {
  color: #e6e9ea;
}

.input__textarea:-ms-input-placeholder {
  color: #e6e9ea;
}

.input__textarea:hover {
  border: 2px solid #F3B313;
  transition: border 0.2s linear;
}

.input__textarea:focus {
  border: 2px solid #0A2466;
  outline: none;
}

.input__item {
  width: 100%;
  height: 36px;
  border-radius: 3px;
  border: 2px solid #DEE1E3;
  padding: 0 4px;
  font-family: "Montserrat", Arial;
  font-size: 12px;
  box-sizing: border-box;
  text-shadow: 0 0 0 #000000, 0 0 1px transparent;
}

.input__item::-webkit-input-placeholder {
  color: #DEE1E3;
}

.input__item:-moz-placeholder {
  color: #DEE1E3;
}

.input__item::-moz-placeholder {
  color: #DEE1E3;
}

.input__item:-ms-input-placeholder {
  color: #DEE1E3;
}

.input__item:hover {
  border: 2px solid #F3B313;
  transition: border 0.2s linear;
}

.input__item:focus {
  border: 2px solid #0A2466;
  outline: none;
}

.label {
  color: #717171;
  font-family: "Montserrat", Arial;
}

.label--title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 2px;
  flex-grow: 1;
}

.label--description {
  font-size: 12px;
  display: flex;
  text-shadow: 0 0 0 #353535, 0 0 1px transparent;
  margin: 2px 0;
  word-break: break-all;
}

.label--optional {
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  margin: 2px 0;
  margin-left: 4px;
  flex-grow: 1;
  text-shadow: 0 0 0 #353535, 0 0 1px transparent;
}

.label--textarea {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  flex-grow: 1;
  margin: 2px 0;
}

.tab {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
}

.tab__header {
  width: 100%;
  border-bottom: 2px solid #DEE1E3;
  display: flex;
  padding: 0;
  margin-bottom: 16px;
}

.tab__header-item {
  margin: 4px 4px -2px 4px;
  list-style: none;
  font-family: "Montserrat", Arial;
  font-size: 12px;
  min-width: 50px;
  display: flex;
  justify-content: center;
  color: #9b9b9b;
  align-items: center;
  padding-bottom: 4px;
  padding-top: 4px;
  background-color: unset;
  border: none;
  text-shadow: 0 0 0 #353535, 0 0 1px transparent;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .tab__header-item .text {
    display: flex;
  }
}

.tab__header-item.is-active {
  font-weight: 600;
  border-bottom: 3px solid #F3B313;
  color: #4e4e4e;
  margin-bottom: -2px;
}

.tab__header-item.is-active svg {
  fill: #8e8e8e;
}

.tab__header-item:focus {
  outline: none;
}

.tab__container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}

.tab__container .tab__container-item {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.flap {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
}

.flap__header {
  width: 100%;
  display: flex;
  padding: 0;
}

.flap__header-item {
  display: flex;
  justify-content: center;
  margin: 4px 4px -2px 0;
  list-style: none;
  font-family: "Montserrat", Arial;
  font-size: 12px;
  min-width: 50px;
  color: #7E7E7E;
  align-items: center;
  padding: 8px 16px;
  background-color: unset;
  border: none;
  text-shadow: 0 0 0 #353535, 0 0 1px transparent;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .flap__header-item .text {
    display: flex;
  }
}

.flap__header-item.is-active {
  font-weight: 600;
  background-color: #fff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 2px -3px 4px -1px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.flap__header-item.is-active .text {
  color: #0A2466;
  font-size: 14px;
}

.flap__header-item.is-active img {
  width: 40px;
}

.flap__header-item.is-active svg {
  fill: #8e8e8e;
}

.flap__header-item:focus {
  outline: none;
}

.flap__container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 8px;
  position: relative;
  background-color: #fff;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.flap__container .flap__container-item {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.link {
  cursor: pointer;
  font-family: "Montserrat", Arial;
  text-decoration: none;
  display: flex;
  font-weight: 500;
}

.link--primary {
  color: #0A2466;
  min-width: 100px;
}

.link--primary svg {
  fill: #0A2466;
  opacity: 0.7;
}

.link--secondary {
  color: #0A2466;
}

.link--secondary svg {
  fill: #0A2466;
  opacity: 0.7;
}

.link--inverted {
  color: #fff;
}

.link--inverted svg {
  fill: #fff;
}

.link--extra-small {
  font-size: 10px;
}

.link--small {
  font-size: 12px;
}

.link--medium {
  font-size: 14px;
}

.link--large {
  font-size: 18px;
}

.link--extra-large {
  font-size: 22px;
}

.link-button {
  display: flex;
  align-items: center;
  height: 20px;
  font-size: 14px;
  font-family: "Montserrat", Arial;
  padding: 4px 8px;
  border-radius: 3px;
  border: 0;
  margin: 4px 0;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}

.link-button--primary {
  background-color: #0A2466;
  color: #fff;
  height: 24px;
  min-width: 100px;
}

.link-button--primary svg {
  fill: #fff;
}

.link-button--primary:focus {
  outline: none;
  border: 1px solid #fff;
  box-shadow: 0 0 0 2px #0A2466;
}

.link-button--primary:hover {
  background-color: #051438;
  transition: background-color 0.2s linear;
  text-decoration: underline;
}

.link-button--secondary {
  background-color: #fff;
  color: #0A2466;
  border: 1px solid #0A2466;
}

.link-button--secondary svg {
  fill: #0A2466;
}

.link-button--secondary:focus {
  outline: none;
  border: 1px solid #fff;
  box-shadow: 0 0 0 2px #0A2466;
}

.link-button--secondary:hover {
  background-color: #e6e6e6;
  transition: background-color 0.2s linear;
  text-decoration: underline;
}

.link-button--tertiary {
  background-color: #F3B313;
  color: #030b20;
}

.link-button--tertiary svg {
  fill: #030b20;
}

.link-button--tertiary:focus {
  outline: none;
  border: 1px solid #fff;
  box-shadow: 0 0 0 2px #030b20;
}

.link-button--tertiary:hover {
  background-color: #b18109;
  transition: background-color 0.2s linear;
  text-decoration: underline;
}

.link-button--full {
  width: 100%;
}

.link- {
  justify-content: space-between;
}

.link- span {
  flex-grow: 1;
}

.link-button--bold {
  font-weight: 500;
}

.align--left {
  display: flex;
  justify-content: flex-start;
}

.align--right {
  display: flex;
  justify-content: flex-end;
}

.align--center {
  display: flex;
  justify-content: center;
}

.align--top {
  align-self: flex-start;
  align-items: flex-start;
}

.align--middle {
  align-self: center;
  align-items: center;
}

.align--bottom {
  align-self: flex-end;
  align-items: flex-end;
}

.alert {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  padding: 4px;
  border-radius: 3px;
}

.alert__message {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  font-family: "Montserrat", Arial;
  margin-left: 8px;
  color: #fff;
}

.alert__title {
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  margin: 0 0 4px 0;
}

.alert__description {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
}

.alert--toast-error {
  background-color: #DA4453;
  position: fixed;
  opacity: .95;
  width: 99%;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
  margin: 4px;
  z-index: 3;
}

@media only screen and (min-width: 768px) {
  .alert--toast-error {
    width: 380px;
  }
}

.alert--toast-error .alert__icon {
  fill: #fff;
}

.alert--toast-error .alert__description {
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
}

.alert--toast-warning {
  background-color: #ffba3a;
  position: fixed;
  opacity: .95;
  width: 99%;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
  margin: 4px;
  z-index: 3;
}

@media only screen and (min-width: 768px) {
  .alert--toast-warning {
    width: 380px;
  }
}

.alert--toast-warning .alert__icon {
  fill: #fff;
}

.alert--toast-warning .alert__description {
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
}

.alert--toast-success {
  background-color: #8CC152;
  position: fixed;
  opacity: .95;
  width: 99%;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
  margin: 4px;
  z-index: 3;
}

@media only screen and (min-width: 768px) {
  .alert--toast-success {
    width: 380px;
  }
}

.alert--toast-success .alert__icon {
  fill: #fff;
}

.alert--toast-success .alert__description {
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
}

.alert--toast-info {
  background-color: #0A2466;
  position: fixed;
  opacity: .95;
  width: 99%;
  margin: 4px;
  z-index: 3;
}

@media only screen and (min-width: 768px) {
  .alert--toast-info {
    width: 380px;
  }
}

.alert--toast-info .alert__icon {
  fill: #fff;
}

.alert--toast-info .alert__description {
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
}

.alert--global-error {
  border-bottom: 3px solid #DA4453;
  padding: 8px;
  background-color: #fff;
  min-height: 60px;
}

.alert--global-error .alert__icon {
  fill: #DA4453;
}

.alert--global-error .alert__message {
  color: #4e4e4e;
}

.alert--global-error .alert__description {
  text-shadow: 0 0 0 #353535, 0 0 1px transparent;
}

.alert--global-warning {
  border-bottom: 3px solid #ffba3a;
  padding: 8px;
  background-color: #fff;
  min-height: 60px;
}

.alert--global-warning .alert__icon {
  fill: #ffba3a;
}

.alert--global-warning .alert__message {
  color: #4e4e4e;
}

.alert--global-warning .alert__description {
  text-shadow: 0 0 0 #353535, 0 0 1px transparent;
}

.alert--global-success {
  border-bottom: 3px solid #8CC152;
  padding: 8px;
  background-color: #fff;
  min-height: 60px;
}

.alert--global-success .alert__icon {
  fill: #8CC152;
}

.alert--global-success .alert__message {
  color: #4e4e4e;
}

.alert--global-success .alert__description {
  text-shadow: 0 0 0 #353535, 0 0 1px transparent;
}

.alert--global-info {
  border-bottom: 3px solid #0A2466;
  padding: 8px;
  background-color: #fff;
  min-height: 60px;
}

.alert--global-info .alert__icon {
  fill: #0A2466;
}

.alert--global-info .alert__message {
  color: #4e4e4e;
}

.alert--global-info .alert__description {
  text-shadow: 0 0 0 #353535, 0 0 1px transparent;
}

.alert--local-error {
  border-left: 3px solid #DA4453;
  padding: 8px;
  background-color: #F3F6FE;
}

.alert--local-error .alert__icon {
  fill: #DA4453;
}

.alert--local-error .alert__message {
  color: #4e4e4e;
}

.alert--local-error .alert__description {
  text-shadow: 0 0 0 #353535, 0 0 1px transparent;
}

.alert--local-warning {
  border-left: 3px solid #ffba3a;
  padding: 8px;
  background-color: #F3F6FE;
}

.alert--local-warning .alert__icon {
  fill: #ffba3a;
}

.alert--local-warning .alert__message {
  color: #4e4e4e;
}

.alert--local-warning .alert__description {
  text-shadow: 0 0 0 #353535, 0 0 1px transparent;
}

.alert--local-success {
  border-left: 3px solid #8CC152;
  padding: 8px;
  background-color: #F3F6FE;
}

.alert--local-success .alert__icon {
  fill: #8CC152;
}

.alert--local-success .alert__message {
  color: #4e4e4e;
}

.alert--local-success .alert__description {
  text-shadow: 0 0 0 #353535, 0 0 1px transparent;
}

.alert--local-info {
  border-left: 3px solid #0A2466;
  padding: 8px;
  background-color: #F3F6FE;
}

.alert--local-info .alert__icon {
  fill: #0A2466;
}

.alert--local-info .alert__message {
  color: #4e4e4e;
}

.alert--local-info .alert__description {
  text-shadow: 0 0 0 #353535, 0 0 1px transparent;
}

.alert--position {
  top: 140px;
  right: 0;
}

@media only screen and (min-width: 768px) {
  .alert--position {
    top: 74px;
  }
}

.title {
  width: 100%;
  font-family: "Montserrat", Arial;
  margin: 0;
  font-weight: 600;
  line-height: 1.3;
}

.title--extra-small {
  font-size: 16px;
}

.title--small {
  font-size: 20px;
}

.title--medium {
  font-size: 24px;
}

.title--large {
  font-size: 30px;
}

.title--extra-large {
  font-size: 38px;
}

.title--center {
  text-align: center;
}

.title--right {
  text-align: right;
}

.title--left {
  text-align: left;
}

.title--primary {
  color: #0A2466;
}

.title--secondary {
  color: #7E7E7E;
}

.title--inverted {
  color: #fff;
}

.title-shadows--inverted {
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
}

.text {
  font-family: "Montserrat", Arial;
  text-shadow: 0 0 0 #353535, 0 0 1px transparent;
  text-decoration: none;
}

.text--extra-small {
  font-size: 10px;
}

.text--small {
  font-size: 12px;
}

.text--medium {
  font-size: 14px;
}

.text--large {
  font-size: 18px;
}

.text--extra-large {
  font-size: 22px;
}

.text--center {
  text-align: center;
}

.text--right {
  text-align: right;
}

.text--left {
  text-align: left;
}

.text--inverted {
  color: #fff;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
}

.text--bold {
  font-weight: 600;
}

.text--full {
  width: 100%;
}

.text--primary {
  color: #4e4e4e;
  text-shadow: 0 0 0 #353535, 0 0 1px transparent;
}

.text--secondary {
  color: #7E7E7E;
  text-shadow: 0 0 0 #353535, 0 0 1px transparent;
}

.text--error {
  font-size: 10px;
  color: #DA4453;
  margin-top: 2px;
  line-height: 14px;
  flex-grow: 1;
  min-width: 50%;
  min-height: 16px;
}

.text--uppercase {
  text-transform: uppercase;
}

.text-shadows--inverted {
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
}

.text-shadows {
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.92);
}

.about {
  display: flex;
  flex-wrap: wrap;
  height: 600px;
}

.about .image {
  height: 100%;
}

.about__content {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  height: 600px;
  width: 100%;
  align-items: center;
}

.about--description {
  margin-top: -74px;
}

.about__background {
  background-color: #ECF0FB;
}

/* breadcrumbs */
.breadcrumb {
  width: 100%;
  display: flex;
  border: 1px solid #DEE1E3;
  border-radius: 3px;
  padding: 8px;
}

ul.breadcrumb__box {
  padding: 0;
  line-height: 14px;
  list-style: none;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  ul.breadcrumb__box {
    flex-direction: row;
  }
}

ul.breadcrumb__box.is-active li {
  display: flex;
}

ul.breadcrumb__box li {
  display: flex;
  font-size: 12px;
  font-family: "Montserrat", Arial;
  color: #4e4e4e;
  text-shadow: 0 0 0 #353535, 0 0 1px transparent;
  padding-top: 8px;
}

@media only screen and (min-width: 768px) {
  ul.breadcrumb__box li {
    padding-top: 0;
  }
}

ul.breadcrumb__box li + li:before {
  padding: 0 8px;
  color: #4e4e4e;
}

@media only screen and (min-width: 768px) {
  ul.breadcrumb__box li + li:before {
    content: "\0203a";
    font-weight: 400;
    font-size: 22px;
  }
}

ul.breadcrumb__box li a {
  text-decoration: none;
  color: #4e4e4e;
}

ul.breadcrumb__box li a.is-active:hover {
  text-decoration: none;
}

ul.breadcrumb__box li {
  display: none;
}

@media only screen and (min-width: 768px) {
  ul.breadcrumb__box li {
    display: flex;
  }
}

ul.breadcrumb__box li.is-active {
  display: flex;
  font-weight: 600;
  font-size: 14px;
  color: #0A2466;
  align-items: center;
  padding-top: 0;
}

ul.breadcrumb__box li a:hover {
  text-decoration: underline;
}

.breadcrumb__arrow {
  position: absolute;
  right: 0px;
  top: -4px;
  fill: #0A2466;
}

.breadcrumb__arrow svg {
  width: 24px;
  height: 24px;
}

@media only screen and (min-width: 768px) {
  .breadcrumb__arrow {
    display: none;
  }
}

form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.info {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.info__title {
  display: flex;
  color: #7E7E7E;
  font-family: "Montserrat", Arial;
  font-size: 12px;
  text-shadow: 0 0 0 #353535, 0 0 1px transparent;
  text-transform: uppercase;
}

.info__text {
  display: flex;
  color: #4e4e4e;
  font-family: "Montserrat", Arial;
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  word-break: break-word;
  padding-bottom: 2px;
}

.info__details {
  display: flex;
  color: #4e4e4e;
  font-family: "Montserrat", Arial;
  font-size: 22px;
  font-weight: 600;
  width: 100%;
  word-break: break-word;
  padding-bottom: 2px;
}

.nav {
  display: none;
  flex-direction: column;
  width: 100%;
  position: absolute;
  right: 0;
  top: 88px;
  flex-wrap: wrap;
  padding: 8px;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
  background-color: #ECF0FB;
}

.nav.is-active {
  display: flex;
}

@media only screen and (min-width: 992px) {
  .nav {
    display: flex;
    flex-direction: row;
    position: relative;
    top: unset;
    background-color: unset;
  }
}

.nav__item {
  font-family: "Montserrat", Arial;
  font-size: 14px;
  color: #0A2466;
  padding: 16px;
  font-weight: 500;
  text-decoration: none;
}

.nav__item:hover {
  font-weight: 600;
}

.nav__item--inverted {
  color: #fff;
}

.nav__icon {
  fill: #0A2466;
}

@media only screen and (min-width: 992px) {
  .nav__icon {
    display: none;
  }
}

.box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: 2px solid #DEE1E3;
  border-radius: 3px;
  text-decoration: none;
  overflow: hidden;
}

.box__container {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  width: 100%;
}

.box__container--inverted {
  background-color: #F3F6FE;
  border-radius: 3px;
}

.box__footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px;
  background-color: #F3F6FE;
  width: 100%;
}

.box__container--form {
  min-height: 300px;
}

.box--shadow {
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
  border: none;
}

.box--no-border {
  border: none;
}

.box__container--hover {
  cursor: pointer;
}

.box__container--hover:hover {
  background-color: #F3F6FE;
}

.box--fixed {
  position: fixed;
  width: 383px;
}

.combobox {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
}

.combobox .button--icon {
  position: absolute;
  right: 0;
}

.combobox__container {
  display: none;
  position: absolute;
  flex-wrap: wrap;
  width: 100%;
  max-height: 240px;
  overflow-y: auto;
  border: 1px solid #DEE1E3;
  background-color: #fff;
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  top: 100%;
  box-sizing: border-box;
  z-index: 2;
}

.combobox__container.is-active {
  display: flex;
}

.combobox__container::-webkit-scrollbar {
  width: 8px;
  background-color: #fff;
}

.combobox__container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
  background-color: #DEE1E3;
}

.combobox__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 4px;
  list-style: none;
}

.combobox__item:hover {
  background-color: #F3F6FE;
}

.combobox__item:focus {
  background-color: #F3F6FE;
}

.pill {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
  border-left: 2px solid #DEE1E3;
  border-right: 2px solid #DEE1E3;
  border-bottom: 2px solid #DEE1E3;
  padding: 4px;
  background-color: #fff;
}

.pill--no-border {
  border: none;
  padding: 0;
}

.pill__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F3F6FE;
  color: #0A2466;
  font-weight: 500;
  font-size: 12px;
  border: none;
  border-radius: 3px;
  padding: 8px;
  margin: 4px;
  cursor: pointer;
}

.pill__item span {
  flex-grow: 1;
}

.pill__item svg {
  fill: #acb4b9;
}

.pill__item:focus {
  outline: none;
  border: 1px solid #fff;
  box-shadow: 0 0 0 2px #0A2466;
}

.pill__item:hover {
  background-color: #F3B313;
  transition: background-color 0.2s linear;
}

.pill__item:hover .icon {
  fill: #fff;
}

.pagination {
  display: flex;
  justify-content: center;
  width: 100%;
}

.pagination__item {
  display: flex;
  justify-content: center;
  margin: 4px;
  background-color: #fff;
  min-width: 35px;
  color: #0A2466;
  fill: #0A2466;
  font-weight: 600;
  align-items: center;
  height: 36px;
  font-size: 14px;
  font-family: "Montserrat", Arial;
  padding: 4px 8px;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  border-style: none;
  border-width: unset;
}

.pagination__item.is-disabled {
  background-color: #C8D0E3;
  color: #818181;
  border: none;
  cursor: no-drop;
  transition: background-color, color, 0.2s linear;
}

.pagination__item.is-disabled svg {
  fill: #818181;
  transition: fill, 0.2s linear;
}

.pagination__item.is-disabled:focus {
  border: 0;
  box-shadow: none;
}

.pagination__item.is-disabled:hover {
  background-color: #C8D0E3;
  color: #818181;
  fill: #818181;
}

.pagination__item.is-active {
  background-color: #0A2466;
  color: #fff;
  fill: #fff;
}

.pagination__item.is-active:hover {
  background-color: #051438;
  color: #fff;
  fill: #fff;
}

.pagination__item:hover {
  background-color: #F3F6FE;
}

.button-selectable {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.button-selectable__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4px;
  border: 2px solid #DEE1E3;
  background-color: #fff;
  cursor: pointer;
  border-radius: 3px;
  flex-grow: 1;
  padding: 8px;
  color: #7E7E7E;
}

.button-selectable__item:hover {
  background-color: #F3F6FE;
}

.button-selectable__item.is-active {
  border: 2px solid #0A2466;
  background-color: #F3F6FE;
  color: #0A2466;
  font-weight: 600;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 100%;
}

.image.hidden {
  display: none;
}

.image--extra-small {
  max-width: 80px;
  max-height: 60px;
}

.image--small {
  max-width: 160px;
  max-height: 120px;
}

.image--medium {
  max-width: 240px;
  max-height: 180px;
}

.image--large {
  max-width: 360px;
  max-height: 270px;
}

.image--extra-large {
  max-width: 640px;
  max-height: 480px;
}

.image--border {
  border: 2px solid #DEE1E3;
}

.image--logo {
  max-width: 215px;
  max-height: 46px;
  padding: 0;
}

.image--round {
  border-radius: 100%;
  width: 125px;
  height: 125px;
}

/* Classes padrões */
.icon {
  display: flex;
}

.icon--primary {
  fill: #4e4e4e;
  opacity: 0.7;
}

.icon--primary svg {
  fill: #a7a7a7;
}

.icon--secondary {
  fill: #F3B313;
}

.icon--secondary svg {
  fill: #F3B313;
}

.icon--tertiary {
  fill: #0A2466;
}

.icon--tertiary svg {
  fill: #0A2466;
}

.icon--inverted {
  fill: #fff;
}

.icon--inverted svg {
  fill: #fff;
}

.icon--extra-small {
  width: 8px;
  height: 8px;
}

.icon--extra-small svg {
  width: 8px;
  height: 8px;
}

.icon--small {
  width: 16px;
  height: 16px;
}

.icon--medium {
  width: 24px;
  height: 24px;
}

.icon--large {
  width: 32px;
  height: 32px;
}

.icon--extra-large {
  width: 48px;
  height: 48px;
}

/* Elementos especificos */
.icon--top-bar-user {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #DEE1E3;
  overflow: hidden;
  margin: 1px solid #DEE1E3;
}

.icon--logo {
  width: 45px;
  height: 48px;
}

@media only screen and (min-width: 768px) {
  .icon--logo {
    width: 49px;
    height: 53px;
  }
}

.icon--tab {
  margin: -3px 5px;
  fill: #b4b4b4;
}

@media only screen and (min-width: 768px) {
  .icon--tab {
    margin: 0;
    margin-right: 5px;
  }
}

.icon--loading {
  -webkit-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

.margin--extra-small {
  margin: 2px;
}

.margin--small {
  margin: 4px;
}

.margin--medium {
  margin: 8px;
}

.margin--large {
  margin: 16px;
}

.margin--extra-large {
  margin: 32px;
}

.margin-vertical--extra-small {
  margin-top: 2px;
  margin-bottom: 2px;
}

.margin-vertical--small {
  margin-top: 4px;
  margin-bottom: 4px;
}

.margin-vertical--medium {
  margin-top: 8px;
  margin-bottom: 8px;
}

.margin-vertical--large {
  margin-top: 16px;
  margin-bottom: 16px;
}

.margin-vertical--extra-large {
  margin-top: 32px;
  margin-bottom: 32px;
}

.margin-horizontal--extra-small {
  margin-left: 2px;
  margin-right: 2px;
}

.margin-horizontal--small {
  margin-left: 4px;
  margin-right: 4px;
}

.margin-horizontal--medium {
  margin-left: 8px;
  margin-right: 8px;
}

.margin-horizontal--large {
  margin-left: 16px;
  margin-right: 16px;
}

.margin-horizontal--extra-large {
  margin-left: 32px;
  margin-right: 32px;
}

.margin-bottom--extra-small {
  margin-bottom: 2px;
}

.margin-bottom--small {
  margin-bottom: 4px;
}

.margin-bottom--medium {
  margin-bottom: 8px;
}

.margin-bottom--large {
  margin-bottom: 16px;
}

.margin-bottom--extra-large {
  margin-bottom: 32px;
}

.margin-top--extra-small {
  margin-top: 2px;
}

.margin-top--small {
  margin-top: 4px;
}

.margin-top--medium {
  margin-top: 8px;
}

.margin-top--large {
  margin-top: 16px;
}

.margin-top--extra-large {
  margin-top: 32px;
}

.margin-left--extra-small {
  margin-left: 2px;
}

.margin-left--small {
  margin-left: 4px;
}

.margin-left--medium {
  margin-left: 8px;
}

.margin-left--large {
  margin-left: 16px;
}

.margin-left--extra-large {
  margin-left: 32px;
}

.margin-right--extra-small {
  margin-right: 2px;
}

.margin-right--small {
  margin-right: 4px;
}

.margin-right--medium {
  margin-right: 8px;
}

.margin-right--large {
  margin-right: 16px;
}

.margin-right--extra-large {
  margin-right: 32px;
}

.padding--extra-small {
  padding: 2px;
}

.padding--small {
  padding: 4px;
}

.padding--medium {
  padding: 8px;
}

.padding--large {
  padding: 16px;
}

.padding--extra-large {
  padding: 32px;
}

.padding-vertical--extra-small {
  padding-top: 2px;
  padding-bottom: 2px;
}

.padding-vertical--small {
  padding-top: 4px;
  padding-bottom: 4px;
}

.padding-vertical--medium {
  padding-top: 8px;
  padding-bottom: 8px;
}

.padding-vertical--large {
  padding-top: 16px;
  padding-bottom: 16px;
}

.padding-vertical--extra-large {
  padding-top: 32px;
  padding-bottom: 32px;
}

.padding-horizontal--extra-large {
  padding-left: 32px;
  padding-right: 32px;
}

.padding-horizontal--extra-small {
  padding-left: 2px;
  padding-right: 2px;
}

.padding-horizontal--small {
  padding-left: 4px;
  padding-right: 4px;
}

.padding-horizontal--medium {
  padding-left: 8px;
  padding-right: 8px;
}

.padding-horizontal--large {
  padding-left: 16px;
  padding-right: 16px;
}

.padding-horizontal--extra-large {
  padding-left: 32px;
  padding-right: 32px;
}

.padding-bottom--extra-small {
  padding-bottom: 2px;
}

.padding-bottom--small {
  padding-bottom: 4px;
}

.padding-bottom--medium {
  padding-bottom: 8px;
}

.padding-bottom--large {
  padding-bottom: 16px;
}

.padding-bottom--extra-large {
  padding-bottom: 32px;
}

.padding-top--extra-small {
  padding-top: 2px;
}

.padding-top--small {
  padding-top: 4px;
}

.padding-top--medium {
  padding-top: 8px;
}

.padding-top--large {
  padding-top: 16px;
}

.padding-top--extra-large {
  padding-top: 32px;
}

.padding-left--extra-small {
  padding-left: 2px;
}

.padding-left--small {
  padding-left: 4px;
}

.padding-left--medium {
  padding-left: 8px;
}

.padding-left--large {
  padding-left: 16px;
}

.padding-left--extra-large {
  padding-left: 32px;
}

.padding-right--extra-small {
  padding-right: 2px;
}

.padding-right--small {
  padding-right: 4px;
}

.padding-right--medium {
  padding-right: 8px;
}

.padding-right--large {
  padding-right: 16px;
}

.padding-right--extra-large {
  padding-right: 32px;
}

.scrollable-box {
  overflow-y: auto;
  align-content: flex-start;
}

.scrollable-box--extra-small {
  height: 54px;
}

.scrollable-box--small {
  height: 90px;
}

.scrollable-box--medium {
  height: 250px;
}

.scrollable-box--large {
  height: 576px;
}

.scrollable-box--extra-large {
  height: 1152px;
}

.highlights {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.highlights__title {
  position: absolute;
  bottom: 0;
  color: #fff;
  font-family: "Montserrat", Arial;
  font-weight: 600;
  font-size: 22px;
  padding: 8px;
}

.loading {
  display: flex;
  width: 100%;
  min-height: 50px;
  justify-content: center;
  align-items: center;
}

.loading__element {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #0A2466;
  background-color: currentColor;
  margin: 8px;
  -webkit-animation: loading 1.5s infinite linear;
          animation: loading 1.5s infinite linear;
}

.loading--animation-first {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.loading--animation-second {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.loading--animation-third {
  -webkit-animation-delay: -.5s;
          animation-delay: -.5s;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
    background-color: #C8D0E3;
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background-color: #C8D0E3;
  }
  75% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
    background-color: #C8D0E3;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background-color: #C8D0E3;
  }
}

@keyframes loading {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
    background-color: #C8D0E3;
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background-color: #C8D0E3;
  }
  75% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
    background-color: #C8D0E3;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background-color: #C8D0E3;
  }
}

.map {
  height: 500px;
}

.search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-height: 534px;
  width: 100%;
}

.galery {
  display: flex;
  position: relative;
  width: 100%;
  background-color: #0A2466;
}

.galery.is-active {
  opacity: 1;
}

.galery.hidden {
  display: none;
}

.galery__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

.galery__bullets {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-bottom: 8px;
}

.galery__item {
  height: 100%;
  overflow: hidden;
}

.galery__item:focus {
  outline: none;
}

.galery__image {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.galery--release {
  height: 500px;
}

.galery__picture {
  display: none;
}

@media only screen and (min-width: 992px) {
  .galery__picture {
    display: flex;
  }
}

.galery__picture.is-active {
  border: 3px solid #F3B313;
}

.galery__picture.hidden {
  display: none;
}

.galery__spotlight {
  position: relative;
}

.galery__link {
  flex-grow: 2;
}

.n-progress {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: #0A2466;
  -webkit-animation: nprogress 4s linear infinite;
          animation: nprogress 4s linear infinite;
  z-index: 2;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
}

.toggle-group {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}

.toggle-group__box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

@media only screen and (min-width: 480px) {
  .toggle-group__box {
    flex-wrap: nowrap;
  }
}

.toggle-group__item {
  display: flex;
  flex-grow: 1;
  align-items: center;
  height: 36px;
  font-weight: 500;
  font-size: 12px;
  font-family: "Montserrat", Arial;
  padding: 4px 8px;
  border-radius: 3px;
  margin-bottom: 4px;
  justify-content: center;
  cursor: pointer;
  border: 2px solid #DEE1E3;
  color: #7E7E7E;
  background-color: #F3F6FE;
}

.toggle-group__item:focus {
  outline: none;
}

.toggle-group__item.is-active {
  background-color: #fff;
  color: #0A2466;
  font-weight: 600;
  font-size: 14px;
  border: 2px solid #0A2466;
}

.toggle-group__item.is-disabled {
  background-color: #C8D0E3;
  color: #4e4e4e;
  cursor: no-drop;
  transition: background-color, color, 0.2s linear;
}

.toggle-group__item.is-disabled svg {
  fill: #4e4e4e;
  transition: fill, 0.2s linear;
}

.toggle-group__item.is-disabled:focus {
  border: 0;
  box-shadow: none;
}

.toggle-group__item.is-disabled:hover {
  background-color: #C8D0E3;
}

.toggle-group__box--wrap {
  flex-wrap: wrap;
}

.hamburguer {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
}

@media only screen and (min-width: 992px) {
  .hamburguer {
    display: none;
  }
}

.toggle {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}

.toggle__box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.toggle__item {
  display: flex;
  flex-grow: 1;
  align-items: center;
  width: 100%;
  height: 36px;
  font-weight: 500;
  font-size: 12px;
  font-family: "Montserrat", Arial;
  margin-bottom: 4px;
  justify-content: center;
  cursor: pointer;
  border: none;
  padding: 0;
  color: #7E7E7E;
  background-color: #C8D0E3;
}

.toggle__item:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.toggle__item:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.toggle__item.is-active {
  background-color: #F3B313;
  color: #0A2466;
  font-weight: 600;
  font-size: 14px;
}

.toggle__item.is-disabled {
  background-color: #C8D0E3;
  color: #4e4e4e;
  cursor: no-drop;
  transition: background-color, color, 0.2s linear;
}

.toggle__item.is-disabled svg {
  fill: #4e4e4e;
  transition: fill, 0.2s linear;
}

.toggle__item.is-disabled:focus {
  border: 0;
  box-shadow: none;
}

.toggle__item.is-disabled:hover {
  background-color: #C8D0E3;
}

.header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-height: 600px;
  background-color: #ECF0FB;
  align-content: flex-start;
  position: relative;
}

.header__content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 16px;
}

.header__content--banner {
  position: absolute;
  height: 100%;
  width: 100%;
}

.header__video {
  width: 100%;
  height: 600px;
  background-size: cover;
}

.footer {
  background-color: #0A2466;
  padding-bottom: 32px;
}

.footer .col {
  justify-content: center;
  align-items: center;
}

.footer .title {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .footer .col {
    justify-content: unset;
    align-items: unset;
  }
  .footer .title {
    text-align: unset;
  }
}

.partners {
  display: flex;
  width: 100%;
  background-color: #F3F6FE;
  padding-bottom: 32px;
}

.full-height {
  height: 100vh;
}

/*# sourceMappingURL=main.default.css.map */
