.tab{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
}

.tab__header{
  width: 100%;
  border-bottom: 2px solid  $color--line-system;
  display: flex;
  padding: 0;
  margin-bottom: $space--large;
}

.tab__header-item{
  margin: $space--small $space--small -2px $space--small;
  list-style: none;
  font-family: $font-pattern;
  font-size: $text--small;
  min-width: 50px;
  display: flex;
  justify-content: center;
  color: lighten($text--primary, 30%);
  align-items: center;
  padding-bottom: $space--small;
  padding-top: $space--small;
  background-color: unset;
  border: none;
  text-shadow: $text-shadow;
  cursor: pointer;


  .text{

    @media #{$tablets} {
      display: flex;
    }
  }


  &.is-active{
    font-weight: $text-weight--large;
    border-bottom: 3px solid $color--secondary;
    color: $text--primary;
    margin-bottom: -2px;

    svg{
      fill: lighten($text--primary, 25%);
    }
  }

  &:focus{
    outline: none;
  }
}

.tab__container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;

  .tab__container-item{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
}
