.toggle {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}

.toggle__box{
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.toggle__item {
  display: flex;
  flex-grow: 1;
  align-items: center;
  width: 100%;
  height: 36px;
  font-weight: $text-weight--medium;
  font-size: $text--small;
  font-family: $font-pattern;
  margin-bottom: $space--small;
  justify-content: center;
  cursor: pointer;
  border: none;
  padding: 0;
  color: $text--secondary;
  background-color: $color--disabled;

  &:first-child{
    border-top-left-radius: $border--radius;
    border-bottom-left-radius: $border--radius;
  }

  &:last-child{
    border-top-right-radius: $border--radius;
    border-bottom-right-radius: $border--radius;
  }

  &.is-active {
    background-color: $color--secondary;
    color: $color--primary;
    font-weight: $text-weight--large;
    font-size: $text--medium;

  }

  &.is-disabled {
    background-color: $color--disabled;
    color: $text--primary;
    cursor: no-drop;
    @include transition(background-color, color, $transition);

    svg {
      fill: $text--primary;
      @include transition(fill, $transition);
    }

    &:focus {
      border: 0;
      box-shadow: none;
    }

    &:hover {
      background-color: $color--disabled;
    }
  }
}

